{% extends 'base.html' %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<form action="{{ url_for('newRestaurant') }}" method="POSt"  >
					<div class="form-group">
				    	<b><label for="name">Restaurant Name :</label></b>
				    	<input type="text" class="form-control" id="addrest" name="rname">
				  	</div>
					<div>
					  	<input type="submit" class="btn btn-primary">
					</div>
		  		</form>
		  	</div>
  		</div>
	</div>
{% endblock %}